.page.theme_dark {
  --bg-color: #000028;
  --accent-color: #FF0070;
  --decor-bg-color: #FF0070;
  --decor-text-color: #000028;
  --title-color: #DB00FF;
  --shadow-color: #FF0070;
  --outline-hover-color: #ff006f40;
  --text-color: #F1B2CE;
  --rec-color: #FF0070;
  --bg-image: url(../images/cover-image-dark.png);
}
